$navbar-default-bg: #C9302C;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fcfcfc;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: pink;
  text-decoration: none;
}

.navbar-nav a {
  color: white !important;
}

.center {
  text-align: center;
  clear: both;
}

.btn-sign-up {
  margin: 40px 20px 20px;
  background-color: #F8402A;
}

#front-page-grid-container .btn {
  background-color: #F8402A;
  color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif;
}

.jumbotron {
  background-image: asset-url("food2.jpg");
  background-size: cover;
  height: 350px;
  color: #262525;
}

.jumbotron h1,
.jumbotron h2 {
  text-shadow: 2px 2px white;
}

#front-page-grid-container {
  text-align: center;
  margin-top: 50px;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#footer-container .text-muted {
  margin: 20px 0;
}

// Recipe Index

.recipe-panel .panel-heading h3 {
  margin-top: 5px !important;
}

.recipe-panel .panel-heading a:hover {
  text-decoration: none;
}

.chef-img {
  float: right;
}

.row {
  margin: 0px;
}

// Recipe Show

.panel-heading h1 {
  margin-top: 7px;
}

// form

textarea {
    resize: none;
    overflow-x: hidden;
}

.btn-red {
  background-color: #F8402A;
  color: white;
}
